#header {
	margin: 5vh auto 5vh;
	text-align: center;
}

.vis {
	border-style: dashed;
	border-width: 0.1em;
	padding: 1em;
}

svg {
	display: block;
	margin: auto;
}

#linkedmap-container {
	display: flex;
	padding-left: 20em;
	padding-right: 20em;
}